@tailwind base;
@tailwind components;
@tailwind utilities;

/* SweetAlert２のカスタムCSS */
.swal2-container {
    z-index: 9999 !important; /* 選択部分より上に表示 */
}

.swal2-modal {
    font-size: 13px; /* 全体のフォントサイズを小さくする */
}

.swal2-title {
font-size: 16px; /* タイトルのフォントサイズを小さくする */
}

/* 警告アイコンのサイズを変更する */
.swal2-icon.swal2-warning {
font-size: 14px; /* サイズを大きくする */
/* `font-size` を小さくすることで、アイコンを小さくすることもできます。 */
}

.swal2-html-container {
    text-align: left !important;
  }